<html>
<head>
  <meta charset="UTF-8">

  <!--I can't remove these useless comments at risk of it breaking...-->
  <!-- PLEASE NO CHANGES BELOW THIS LINE (UNTIL I SAY SO) -->
  <script language="javascript" type="text/javascript" src="/libraries/p5.js"></script>
  <script language="javascript" type="text/javascript" src="/Game.js"></script>
  <script language="javascript" type="text/javascript" src="/Player.js"></script>
  <script language="javascript" type="text/javascript" src="/GID2.js"></script>
  <script language="javascript" type="text/javascript" src="/Button.js"></script>
  <script language="javascript" type="text/javascript" src="/Day.js"></script>
  <!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->
  
  <script language="javascript" type="text/javascript" src="/libraries/p5.dom.min.js"></script>
  <script language="javascript" type="text/javascript" src="/libraries/p5.sound.min.js"></script>

  <link rel="stylesheet" href="/css/stylish.css">

  <!-- This line removes any default padding and style. 
       You might only need one of these values set. -->
  <style> body {padding: 0; margin: 0;} </style>
</head>

<body>
</body>
</html>
